<!DOCTYPE html>
<html>
<head>
    <title>Escáner de QR</title>
    <style>
        body {
            color:white;
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        #preview {
            width: 300px;
            height: 250px;
            border: 1px solid #ccc;
        }
        #result {
            margin-top: 20px;
            padding: 10px;
            width: 300px;
            font-size: 1.2em;
        }
    </style>
</head>
<body>

    <h2>Escáner de QR</h2>
    <video id="preview"></video>
    <br>
    <input type="text" id="result" placeholder="El resultado del escaneo aparecerá aquí...">

    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    
    <script>
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {
            // El contenido escaneado se inserta en el cuadro de texto
            document.getElementById('result').value = content;
            console.log(content);
        });

        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                // Selecciona la primera cámara disponible
                scanner.start(cameras[0]);
            } else {
                console.error('No se encontraron cámaras.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    </script>

</body>
</html>