<%- include('../partials/header'); %>

<body">
  <form id="form1" name="form1" method="post" action="">
    <div id="principal" style="position: relative; border: #B5CDE4 1px solid;"></div>
    <script>
    webix.ui({    
        view:"form", id:"formQR", name:"formQR", rows: [
            {
            cols:[
            { 
            view: "uploader", value: "Seleeciona un imagen con QR", accept:"image/png, image/gif, image/jpg", width:240, 
            name:"filePDF", id:"filePDF", 
            link:"list1",  upload:"/api/tools/tools_QRx",
                on:{
                        onUploadComplete:(response)=>{

                        //console.log(response);
                        //console.log(response.message);
                        //console.log(response.url)
                        $$("formQR").enable();
                        $$("textoPDF").setValue(response.message);
                        if(!!response.url)
                        {
                            $$("validador").load(response.url);
                        }
                    },
                    onBeforeFileAdd: function (item) {
                      //$$("formPDF").showProgress();
                      
                      $$("formQR").disable(); 
                      $$("textoPDF").setValue("Subiendo y procesando archivo...");
                      webix.message({ type:"info", text:"Subiendo y procesando archivo...", id:"loadingMsg" });
    
                      return true;
                    },
                }
            },
            {
            view:"list",  id:"list1", type:"uploader",
            autoheight:true, borderless:true	
            },
            { view:"textarea", id:"textoPDF", name:"textoPDF", labelPosition:"top", label:"Texto recuperado"}]},
            {view : 'iframe', name: 'validador', id: 'validador',  src : 'about:blank'}
        ]
    });


    </script>
  </form>
  </body>

</html>
