<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Intranet </title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
  <link rel="icon" href="/imagenes/ico_udg.gif" type="image/gif">

  <link rel="stylesheet" type="text/css" href="/webix/codebase/webix.css" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.3.5"
    type="text/css" charset="utf-8">

  <script src="/webix/codebase/webix.js"></script>

  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
    }

    .pendiente{
      width:35px;
      height:35px;
      border-radius: 15px;
      background-color: orange;
      color:white !important;
      vertical-align: top;
      padding:3px;
    }
  </style>

</head>

<body">
    <div id="principal" style="position: relative; border: #B5CDE4 1px solid;"></div>
    <script>
    webix.ui({    
        view:"form", id:"formPDF", name:"formPDF", rows: [
            { 
            view: "uploader", value: "Seleeciona un archivo PDF", accept:"application/pdf",
            name:"filePDF", id:"filePDF", 
            link:"list1",  upload:"/api/tools/tools_pdfx",
                on:{
                        onUploadComplete:(response, file)=>{

                        //console.log(response);
                        //console.log(response.message);
                        $$("textoPDF").setValue(response.message);
                        $$("formPDF").enable();
                        //$$("formPDF").hideProgress();
                    },
                    onBeforeFileAdd: function (item) {
                      //$$("formPDF").showProgress();

                      $$("formPDF").disable(); 
                      $$("textoPDF").setValue("Subiendo y procesando archivo...");
                      webix.message({ type:"info", text:"Subiendo y procesando archivo...", id:"loadingMsg" });
    
                      return true;
                    },
                    onUploadFail: function (item){
                      $$("formPDF").enable(); 
                    },

                }
            },
            {
            view:"list",  id:"list1", type:"uploader",
            autoheight:true, borderless:true	
            },
            { view:"textarea", id:"textoPDF", name:"textoPDF", labelPosition:"top", label:"Texto recuperado"},
        ]
    });


webix.extend($$("textoPDF"), webix.ProgressBar); // Asegura que el uploader soporte barra de progreso


// Opcional: Manejar errores
$$("formPDF").attachEvent("onUploadFail", function(item){
    // Si la respuesta del servidor fue 4xx o 5xx
    
    // 💡 Paso 2 (En caso de fallo): Habilita y oculta
    $$("formPDF").enable(); 
    webix.message.hide("loadingMsg"); 
    webix.alert({ text: "Fallo en el servidor al procesar el archivo.", type: "alert-error" });
});


    </script>
  </body>

</html>
