<%- include('../partials/header'); %>
<!-- 
<option value="1">Administrador</option>
<option value="2">Revisor</option>
<option value="3">Secretario Academico</option>
<option value="4">Coordinador de posgrado</option>
<option value="5">Estudiante</option> -->

<body">
    <form id="form1" name="form1" method="post" action="">
    <div id="principal" style="position: relative; border: #B5CDE4 1px solid;"></div>
    <script>
    var xx = 0;
    var cells = [
        {
            header: "<span class='mdi mdi-view-dashboard'></span>Tablero", body: {
            view: "iframe", id: "progap_dashboard", src:"progap_dashboard",
            type: {
                eight: 60
            },
        }
        },
        {
        header: "<span class='mdi mdi-sign-text'></span>Convocatoria", body: {
            view: "iframe", id: "progap_convo", src:"progap_convo",
            type: {
                height: 60
            },
        }
        },
        <%if (lcDerecho.indexOf(",ADMI_PROGAP,") >= 0 || lcDerecho.indexOf(",REVI_PROGAP,") >= 0){%>
        {
        header: "<span class='mdi mdi-progress-check'></span>Catalogos", body: {
            view: "iframe", id: "progap_cata", src:"progap_cata",
            type: {
                height: 60
            }, 
        }
        },
        <%}%>
        <%if (lcDerecho.indexOf(",ADMI_PROGAP,") >= 0){%>
        {
        header: "<span class='mdi mdi-history'></span>ExaCam's", body: {
            view: "iframe", id: "progap_exacam", src:"progap_exacam",
            type: {
                height: 60
            },
        }
        },
        <%}%>
        <%if (lcDerecho.indexOf(",ADMI_PROGAP,") >= 0){%>
        {
        header: "<span class='mdi mdi-account-check'></span>FoCam's", body: {
            view: "iframe", id: "progap_focam", src:"progap_focam",
            type: {
                height: 60
            },
        }
        },
        <%}%>

        // {
        //   header: "<span class='webix_icon mdi mdi-checkbox-multiple-marked-outline'></span>Insumos", body: {
        //     view: "iframe", id: "pdf", src: "tools_pdf.fwx",
        //   }
        // },
        // {
        //   header: "<span class='webix_icon mdi mdi-checkbox-multiple-marked-outline'></span>Sugerencias", body: {
        //     view: "iframe", id: "csg_arti_Cambio", src: "csg_arti_Cambio.fwx?origen=1",
        //   }
        // },
    ];


    webix.ready(function () {
        webix.ui({
        rows: [
            {
                id:"tbView",
                name:"tbView",
                view: "tabview",
            
                animate:{ type:"slide", subtype:"together" },
                tabbar: {
                    tabMinWidth: 250,
                    tabMoreWidth: 80,
                    padding: 2,
                    moreTemplate: "<span class='webix_icon mdi mdi-dots-vertical'></span>",
                    popupWidth: 250,
                    popupTemplate: "#value#",
                    yCount: 10,
                },
                multiview: {
                    keepViews: false,
                    animate: {
                        type: "slide",
                        direction: "in"
                    },
                },
            cells: cells
            }
        ]
        });
        buscaSolicitudes();
        setInterval(()=>{
            buscaSolicitudes();
        },120*1000)

        
    });

    function buscaSolicitudes(){
//        webix.ajax().post("/SICGCE/csg_hcx.fwx",{t:1}).then((res)=>{
//          res = res.json();
//          document.getElementById('pendientes').innerHTML = res.numero
//        })
    }


    function deta_impo(lnTipo) {
		xx++;

        let lcTipo = '', lcPagina = ''
        switch (lnTipo) {
            case 1:
                lcTipo = "Subir lista de programas existentes (Se actualizaran los ya existentes e insertaran los nuevos)"
                lcPagina = "/progap/progap_impo_prog"
                break;
            case 2:
                lcTipo = "Activar Programas de forma masiva (subir lista de los activos todos los demás se desactivaran)"
                lcPagina = "/progap/progap_actu_prog"
                break;

        }

		webix.ui({
			view: "window", id: "w4" + xx,
			move: false, left: 0, top: 0, width: 1000, height: 600, resize: true, fullscreen:true,
			head: {
				view: "toolbar", id: "toolbar4" + xx, css: "mi_toolbar_color",
				cols: [
					{ view: "label", label: lcTipo },
					{ view: "icon", icon: 'mdi mdi-fullscreen', click:()=>{
						var ventana = $$('w4' + xx)
						ventana.config.move = !ventana.config.move
                        ventana.config.fullscreen = !ventana.config.fullscreen;
                        ventana.setPosition(0,0)
                        ventana.resize();
					} },
					{ view: "icon", icon: 'mdi mdi-close', click: "$$('w4" + xx + "').close();" }
				]
			},
			body: {
				view: "iframe",
				src: lcPagina
			}
		}).show();
	}
    </script>
    </form>
</body>

</html>
