<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cerrar sesión</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="card text-center">
            <div class="card-header">
                Acceso denegado
            </div>
            <div class="card-body">
                <h5 class="card-title">Sesión en otro equipo</h5>
                <p class="card-text">Se inicio sesión en otro equipo por lo que ya no puedes seguir con esta sesión.
                    <br/><br/>Si no fuiste tu el que inicio en otro equipo/navegador puede ser que tu contraseña este comprometida, por lo que te sugerimos cambiarla lo mas rápido posible para evitar el plagio.
                </p>
            </div>
            <div class="card-footer text-muted">
                Consulta con el administrador
            </div>
        </div>
    </body>
</html>


