<%- include('partials/header'); %>

	<script language="JavaScript">


		var form_elements = [{
			view: "label", id:"lblTitulo", class: { "font-weight": "bold", "font-size": 14, "text-align": "center" }, align: "center", label: "GENERAR USUARIO NUEVO"
		},
		{
			cols: [
			{
				view: "text", id: "txtCodigo", name: "txtCodigo", labelPosition: "top", label: "C&oacute;digo", value: "", 
				 pattern:{ mask:"#######", allow:/[0-9]/g},
			on:{
				"onBlur":function(){
					
				}

			}
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtNombre", name: "txtNombre", labelPosition: "top", label: "Nombre de usuario", value: ""
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtDepen", name: "txtDepen", labelPosition: "top", label: "Dependencia", value: ""
			},
			]
		},
        {cols: [
            {
                    view: "button", label: "Enviar correo", click: envi_corr, id:"btnEnvi_corr", width: 250
            },{},
            {
                    view: "button", label: "Buscar", click: busc_usua, hotkey: "enter", id:"btnBuscar", width: 150
            },
        ]},
		{
			view: "datatable", id: "dtable", name: "dtable", select: "row", editaction: "dblclick", rowCss: "#css#", drag:true, 
			columns: [
				{ id: "user_id", header: ["Usuario", { content: "selectFilter" }], width: 120, sort: "string", css: { 'text-align': 'left' } },
				{ id: "codigo", header: ["Código", { content: "selectFilter" }], width: 100, sort: "string", css: { 'text-align': 'left' } },
				{ id: "nombre", header: ["Nombre", { content: "textFilter" }], width: 240, sort: "string", css: { 'text-align': 'left' } },
                { id: "correo", header: ["Correo", { content: "textFilter" }], width: 240, sort: "string", css: { 'text-align': 'left' } },
				{ id: "dependen", header: ["Dependencia", { content: "textFilter" }], width: 340, sort: "string", css: { 'text-align': 'left' } },
                { id: "last_hit", header: ["Último ingreso", { content: "textFilter" }], width: 180, sort: "string", css: { 'text-align': 'left' } },
			],
			footer: true, scrollY: true, scrollX: true, resizeColumn: true, resizeRow: true, navigation: true,
			editable: true, 
			on: {
				onBeforeLoad: function () { this.showOverlay("Cargando..."); },
				onAfterLoad: function () {
					this.hideOverlay();
					//this.adjustRowHeight("nomb_serv", true);
					this.render();
				
				},
				onItemDblClick: function(id, e, node) {
					// id.row es el ID de la fila donde se hizo clic
					var item = this.getItem(id.row);
					window.location.href = "/usua_nuev?codigo=" + item.codigo;
					
					// Ejemplo: Llamar a una función para ver detalles
					// verDetallesUsuario(item.user_id); 
				}
			},
		},
	]

		webix.ready(function () {
			webix.ui({
				view: "layout",
				responsive: true,
				rows: [{
					view: "scrollview",
					body: {
						rows: [{
							view: "form", id: "form_usua", name: "form_usua",
							elements: form_elements,
							rules: {
								"txtCodigo": webix.rules.isNotEmpty,
								"txtUser_id": webix.rules.isNotEmpty,
								"txtPassword": webix.rules.isNotEmpty,
								"txtApellidos": webix.rules.isNotEmpty,
								"txtNombre": webix.rules.isNotEmpty,
								"txtCorreo": webix.rules.isEmail,
							},
						}]
					}
				}]
			});

		});




		//functions

		function busc_usua(){
			
			const form = $$("form_usua").getValues()
			
			if (!form.txtCodigo && !form.txtNombre && !form.txtDepen){
				Swal.fire("Por lo menos tienes que agregara algún campo para buscar");
				return false;
			}

			$$("dtable").clearAll();
            //$$("dtable").load("/api/usuariosx", form)

            webix.ajax().get("/api/usuariosx", form).then(function(data){
                // Cargamos los datos recibidos en el datatable
                $$("dtable").parse(data.json());
            });
            

		}

        function envi_corr(){
            
            if (!$$("dtable").getSelectedId()){
                Swal.fire("Debes seleccionar primero al usuario");
				return false;
            }


			$$("form_usua").disable(); 

			webix.ajax()
			.post("/api/usua_nuevx3", {txtUser_id:$$("dtable").getSelectedId().id})
			.then(function (data) {
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				$$("form_usua").enable(); 

			});
		}
		
	</script>
</head>

<body>
</body>

</html>

