<!DOCTYPE html>
<html>

<head>
	<title></title>
	<script src="/webix/codebase/webix.js"></script>
	<script src="/webix/codebase/locale.js"></script>
	<link rel="stylesheet" type="text/css" href="/webix/codebase/webix.css" />
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.3.5"
		type="text/css" charset="utf-8">

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

	<style type="text/css">
		.add {
			font-weight: bold;
		}

		.obligatorio {
			color: red;
		}

	</style>

	<script language="JavaScript">


		//variables
		let today = new Date()

		// let hour = today.toLocaleString('en-US', {
		// 	hour12: false,
		// });


		let hour = String(today.getHours()).padStart(2, '0') + ':' + String(today.getMinutes()).padStart(2, '0');





		// hour = hour.substr(12, 5)

		//webix-components

		var form_elements = [{
			view: "label", class: { "font-weight": "bold", "font-size": 14, "text-align": "center" }, align: "center", label: "GENERAR USUARIO NUEVO"
		},
		{
			cols: [
			{
				view: "text", id: "txtCodigo", name: "txtCodigo", labelPosition: "top", label: "C&oacute;digo", value: "", 
				 pattern:{ mask:"#######", allow:/[0-9]/g}
			},
			{
				view: "text", id: "txtUser_id", name: "txtUser_id", labelPosition: "top", label: "Nombre de usuario", value: ""
			},
			{
				view: "text", id: "txtPassword", name: "txtPassword", labelPosition: "top", label: "Password", value: ""
			},
			]
		},
		{
			cols: [
			{
				view: "text", id: "txtApellidos", name: "txtApellidos", labelPosition: "top", label: "Apellidos", value: ""
			},
			{
				view: "text", id: "txtNombre", name: "txtNombre", labelPosition: "top", label: "Nombre", value: ""
			},
			]
		},
		{
			view: "combo", id: "cmbServicio", name: "cmbServicio", labelPosition: "top", labelAlign: "left",
			label: "Servicio", editable: true,
			options: {
				fitMaster: false,
				keyPressTimeout: 500,
				width: 650,
				filter: function (item, value) {
					if (item.value.toString().toLowerCase().indexOf(value.toLowerCase()) != -1)
						return true;
					return false;
				},
				body: {
					
					template: "#value#",
					dataFeed: "/api/gen/cmb_depew?lnTipo=1"
				}
			},
		},
		{cols: [
			{
			view: "button", label: "Genera password", click: gene_pass, id:"btnPassword", name:"btnPassword", align: "right", width: 150
			},{},
			{
				view: "button", label: "Alta de usuario", click: guardar, id:"btnGuardar", align: "right", width: 150
			}
		]},
	]

		webix.ready(function () {
			webix.ui({
				view: "layout",
				responsive: true,
				rows: [{
					view: "scrollview",
					body: {
						rows: [{
							view: "form", id: "form_usua", name: "form_usua",
							elements: form_elements,
							rules: {
								"txtCodigo": webix.rules.isNotEmpty,
								"txtUser_id": webix.rules.isNotEmpty,
								"txtPassword": webix.rules.isNotEmpty,
								"txtApellidos": webix.rules.isNotEmpty,
								"txtNombre": webix.rules.isNotEmpty,
							},
						}]
					}
				}]
			});

		});




		//functions

		function gene_pass(){
			
			let form = $$("form_usua").getValues()

			if (!form.txtCodigo){
				Swal.fire("Por lo menos tienes que agregara el código del usuario");
				return false;
			}
			console.log(form);
			webix.ajax()
			.post("/api/usua_nuevx", form)
			.then(function (data) {
				$$("btnGuardar").enable();
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				/*
				Swal.fire({
					title:res.mensage, icon:res.error?"error":"success"
				}).then(()=>{
					if(!res.error){
						$$("form_usua").setValues(res.form);
					}
						
				})
				*/
				if(!res.error){
					$$("form_usua").setValues(res.form);
				}

			})

		}

		function guardar() {
		
			if (! $$("form_usua").validate()) {
				webix.message({ text: "Los campos que se marcan en rojo son obligatorios", type: "error", expire: 3000 })
				return 
			}

			Swal.fire({
				text: "", title: 'Seguro de agregar el usuario?', icon: 'question', showCancelButton: true,  confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Si', cancelButtonText:"No",
			}).then((result) => {
				if(result.isConfirmed){

					let form = $$("form_usua").getValues();
					
					webix.ajax().post("/api/op/op_ningrx", form).then(function (response) {
						$$("btnGuardar").enable();
						try{
							var respuesta = response.json()[0];
							Swal.fire({text:respuesta.message, icon:respuesta.status ? "success":"error"}).then(()=>{
								if (respuesta.status) {
									window.location.href = '/op/op_ningr?lnNum_ofi=' + response.oficio + '&lnOficio='+ respuesta.id;
								}
							})

						}catch(err){
							Swal.fire({text:"Ocurrio un error, intenta mas tarde", icon:"error"}).then(()=>{
							})
						}
					})
				}
			})
		}

		
	</script>
</head>

<body>
</body>

</html>

