@-webkit-keyframes formshake {
  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }

  25%,
  58% {
    -webkit-transform: translateX(10px);
  }

  75% {
    -webkit-transform: translateX(-5px);
  }

  92% {
    -webkit-transform: translateX(5px);
  }

  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 161, 193, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(28, 161, 193, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 161, 193, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(28, 161, 193, 0.4);
    box-shadow: 0 0 0 0 rgba(28, 161, 193, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(28, 161, 193, 0);
    box-shadow: 0 0 0 20px rgba(28, 161, 193, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(28, 161, 193, 0);
    box-shadow: 0 0 0 0 rgba(28, 161, 193, 0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



input[type=text]:not(.browser-default){
  height: 2rem;
  width: 100%;
}
/*
input[type=password]:not(.browser-default){
  height: 2rem;
  width: 100%;
} */
/* input[type=text]:focus{
  border-bottom: 1px red;
} */

/* .webix_el_counter .webix_inp_counter_value{
  width: 6rem !important;
} */


select{
  display: inline-block;
  padding: 2px;
}


.footer-fixed {
	position: fixed;
	bottom: 0;
  width: 100%;
}


.footer-fixed.row{
  margin-bottom:0px;
  padding: 5px;
}




.tableHeader {
  background-color: #038663;
  color: white;
  border: 1px gray;
  text-align: center;
}


.toolbar_form {
    background: #1CA1C1;
    color: #FFFFFF;
}


.webix_secondary .webix_button {
  background: #dadee0;
  color: #1ca1c1;
}

.webix_secondary .webix_button:hover {
  background-color: #1ca1c1;
  color: #f4f5f9;
}

.webix_secondary .webix_button:active {
  background-color: #1ca1c1;
  color: #f4f5f9;
}

.webix_secondary .webix_button:focus {
  color: #1ca1c1;
  background-color: #eaeaea;
}

.webix_button {
  transition: all 0.3s;
  margin: auto;
  will-change: transform;
}

.webix_button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

.webix_button:active {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

.webix_button:focus {
  color: white;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 1s infinite;
}

.webix_list_item {
  transition: all 0.3s;
  background-color: #f4f5f9;
  color: #1ca1c1;
}

.webix_list_item:hover   {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #1ca1c1 !important;
  color: white;
}

/* CALENDAR BUTTON */

.webix_cal_icon {
  transition: all 0.3s;
  will-change: transform;
  border-radius: 0.12em;
  margin: 5px;
  color: #f4f5f9;
  background-color: #1ca1c1;
}

.webix_cal_icon:hover {
  color: #ffffff;
  background-color: #1ca1c1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}









.card {
  /* Add shadows to create the "card" effect */

  transition: all 0.3s;
  background-color: #f0f0f0db;
}

.card:hover {
    box-shadow: 0px 0px 2px 2px rgba(0, 188, 245, 0.5); 
}

.container {
  padding: 5px; 
  width: 100%;
  height: 80%;
  text-align: center;
}





div.webix_dataview_item {
  height: auto !important;
  border: 0px;

}

/* .webix_hcell {
  font-size: 15pt;
  line-height: 30px;
  height: 80px;
}
 */

.webix_template {

  margin: 0;
  padding: 0;
}

.notMargin{
  margin: 0 !important;
}

/* .webix_view {
  border:0px solid transparent;
  background-color:  transparent;
  transition: all .7s;
} */
/* .webix_scrollview{
  margin-top: -2px !important;
} */

.webix_view.webix_calendar{
  background-color:#fafafa;
}

.webix_view.mainContainer {
    border: 0px;
    border-radius: 1%; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #ffffff;
    opacity: 0;
    z-index: 100 ;
    position: relative;
}

.webix_view.mainView {
    opacity: 0;   
    z-index: 5;
    /* margin: -2px !important; */
}

.webix_view.show{
  opacity: 1;

}

.webix_toolbar.webix_dark{
  border: transparent;
  /* box-shadow: inset 0px -11px 8px -10px rgb(93, 94, 94);  */
}


.innerTopShadow{
  box-shadow:  inset 0px 11px 8px -10px rgb(65, 65, 65); 
}

.innerBottomShadow{
  box-shadow:  inset 0px -11px 8px -10px rgb(93, 94, 94); 
}

.timerClock {
  text-align: center;
  transition: all 0.3s;
  width: 15%;
  height: 80px;
  font-size: 15pt;
  right: 1em;
  top: 3em;
  position: fixed;
  opacity: 0.4;
  border-radius: 5%;
  color: red;
  background-color: transparent;
  max-width: 164px;
  min-width: 120px;
  z-index: 100;
  cursor: pointer;
  display: inline-block;
}



.timerClock:hover {
  opacity: 1;
  background-color: #ffffff;
  
}



.toolBarHeader {
  font-size: 1.6rem !important;
  color: #ffffff !important;
  padding: 5px !important;
  
}



.mainToolbar{
  font-size: 2rem !important;
  color: #ffffff !important;
  padding: 10px !important;
  font-weight: bold;

}



.dayCalendar {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.dayCalendar:hover {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-shadow:  0px 0px 2px 2px rgba(0, 188, 245, 0.5); 
    border-radius: 50%;

}

.webix_cal_body .webix_cal_select .webix_cal_day_inner, .webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner{
    background-color: inherit;
    animation: pulse 0.7s cubic-bezier(0.24, 0, 0.38, 1) infinite;
        z-index: 100;
            width: 100%;
    height: 100%;
}
.webix_cal_body .webix_cal_today .webix_cal_day_inner{
  box-shadow: inset 0 0 0 0px transparent;
}
.webix_cal_body .webix_hours .webix_cal_day_disabled, .webix_cal_body .webix_hours .webix_cal_day_disabled.webix_cal_event, .webix_cal_body .webix_minutes .webix_cal_day_disabled, .webix_cal_body .webix_minutes .webix_cal_day_disabled.webix_cal_event, .webix_cal_body .webix_cal_day_disabled, .webix_cal_body .webix_cal_day_disabled.webix_cal_event{
  background-color: transparent;
}

.dayBlocked {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 137, 137, 0.413);
    color: rgba(0, 0, 0, 0.379);
    border-radius: 50%;
    border:0px;
}

.rowSeparation {
    margin: .2em;
}

.spacerCollapse{
    height: 18rem;
}
.webix_header>div{
  padding: 0;
}

.insideElements {
  padding: .5em;
  border-radius: 1%;
}

.bottom-left{
    left: 0;
    bottom: 0;
    position: fixed !important;
    width: 100%;
    margin: 0;
    padding: .4em;
}

.top-left{
    left: 1em;
    top: 3em;
    position: fixed !important;
}


.blankSeparator{
  height: 2em;
}

.topView{
  z-index: 10;
  position: absolute;
  border-radius: 1%;
}

.windowBeforeFade{
  width: 0px !important;
  height: 0px !important;
    transition: width 2s;
    transition: height 2s;

}

.windowFadeIn{
  width: auto !important;
  height: auto !important;
}

.paddingRounded{
  padding: 3px;
  border-radius: 10%;

}

.bigLetter{
  font-weight: bold;
  font-size: 13pt;
   margin: 0px;
}

.position-left{
  left:23px;
}

.webix_win_body .webix_view {
  background-color: #ffffff !important;
}

.webix_dataview_item .webix_strong{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


colorToolbar{
  background-color: #475466;
}

.primera {
  background:#ebcf34 !important;
  text-align: center;
  } 

  .segunda{      
    background:#b1abab;
    text-align: center;
    }