<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Intranet</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
  <link rel="icon" href="/imagenes/ico_udg.gif" type="image/gif">

  <link rel="stylesheet" type="text/css" href="/webix_8.4.0/codebase/webix.css" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.3.5"
    type="text/css" charset="utf-8">

  <script src="/webix_8.4.0/codebase/webix.js"></script>
  <script src="/js/funciones_webix.js"></script>
</head>
