<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Intranet</title>
<!--   <link rel="stylesheet" href="/style.css" type="text/css" media="screen" /> -->
  <link rel="icon" href="/imagenes/ico_udg.gif" type="image/gif">

  <link rel="stylesheet" type="text/css" href="/webix_8.4.0/codebase/webix<%=(!skin ? '' : skin)%>.css" />
  <link href="/css/fontawesome/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialdesign/materialdesignicons.min.css">
	
  <script src="/webix_8.4.0/codebase/webix.js"></script>
  <script src="/webix-hint/codebase/hint.js"></script>
  <script src="/js/funciones_webix.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>
</head>

<script>
    // 1. Cargamos la base del idioma español
    webix.i18n.setLocale("es-ES");

    // 2. Configuramos el formato de moneda para Pesos Mexicanos (MXN)
    webix.i18n.price = "$ {obj}";
    webix.i18n.priceFormat = "$ {obj}";
    webix.i18n.groupDelimiter = ",";
    webix.i18n.decimalDelimiter = ".";
    webix.i18n.priceSettings = {
        decimalSize: 2,
        groupSize: 3,
        decimalDelimiter: ".",
        groupDelimiter: ","
    };

    // 3. Traducimos los filtros de las Datatables
    webix.i18n.filter = {
        less: "menor",
        lessOrEqual: "menor o igual",
        greater: "mayor",
        greaterOrEqual: "mayor o igual",
        contains: "contiene",
        notContains: "no contiene",
        equal: "igual a",
        notEqual: "no igual",
        beginsWith: "empieza con",
        notBeginsWith: "no empieza con",
        endsWith: "termina con",
        notEndsWith: "no termina con",
        between: "entre",
        notBetween: "no esta entre"
    };

    // 4. Establecemos el formato de fecha estándar para la U. de G.
    webix.i18n.dateFormat = "%d/%m/%Y";
    webix.i18n.parseFormat = "%Y-%m-%d %H:%i:%s"; // Para que entienda lo que viene de MariaDB

    // 5. Aplicamos todos los cambios globalmente
    webix.i18n.setLocale();
</script>