<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Intranet</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
  <link rel="icon" href="/imagenes/ico_udg.gif" type="image/gif">

  <link rel="stylesheet" type="text/css" href="/webix_8.4.0/codebase/webix.css" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.3.5"
    type="text/css" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  <script src="/webix_8.4.0/codebase/webix.js"></script>
  <script src="/js/funciones_webix.js"></script>
</head>

<script>
  webix.i18n.setLocale("es-ES")
		
  webix.i18n.filter = {
    less: "menor",
    lessOrEqual: "menor o igual",
    greater: "mayor",
    greaterOrEqual: "mayor o igual",
    contains: "contiene",
    notContains: "no contiene",
    equal: "igual a",
    notEqual: "no igual",
    beginsWith: "empieza con",
    notBeginsWith: "no empieza con",
    endsWith: "termina con",
    notEndsWith: "no termina con",
    between: "entre",
    notBetween: "no esta entre",
    
  };

</script>
