<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/skins/web/dhtmlx.css" />
    <link rel="stylesheet" type="text/css" href="/skins/terrace/dhtmlx.css" />
    <link rel="stylesheet" type="text/css" href="/webix/codebase/webix.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.0.7"
        type="text/css" charset="utf-8">

    <script src="/codebase/dhtmlx.js"></script>
    <script src="/webix/codebase/webix.js"></script>
    <script src="/webix/codebase/locale.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <%
    /*
LOCAL llError, lcCentro, lcPie, llAplicar, lnOficio, lcOficio, lcPrevio, lnMens_usua
LOCAL llNBusca, lcCVE, lcIniciales, lnIden, lcRuta_tabl
LOCAL lcDiri_nomb, lnDiri_codi, lcDiri_carg, lcAten_nomb, lnAten_codi, lcAten_carg, llNBusca2, lnCant_ofic

SET PROCEDURE TO mylib
SET DATE DMY

IF !Derechos("OFICIO")
    lcRuta = ALLTRIM(config.ruta)
    SET PROCEDURE TO
    CLOSE TABLES ALL
    CLOSE DATABASES ALL
    response.redirect("/"+lcRuta+"/sin_derechos.fwx")
ENDIF
   
lnTipo = VAL(Request.QueryString("tip"))

lcSQL = "SELECT id_cent, cve, depen, clave FROM GEN_TIPO_OFIC WHERE cve in (SELECT DISTINCT cve "
lcSQL = lcSQL + "FROM GEN_DERE_OFIC WHERE user_id = ?pcUser) ORDER BY 3"

lcQbase_cgce = config.qbase_cgce

lnCone_cgce = &lcQbase_cgce
IF SQLEXEC(lnCone_cgce, lcSQL, "cSoli") != 1
	a=Aerror(Mat)
	?SQLDISCONNECT(0)
	Response.write(Mat(2) + " Linea: 67")
	return
ENDIF


SQLDISCONNECT(0)
*/
%>


    <style type="text/css">
        .dhtmlx-error {
            font-weight: bold;
            color: white;
            background-color: #770000;
        }

        .webix_dtable .webix_ss_header {
            font-weight: bold;
        }

        .edited {
            font-weight: bold;
        }

        .footer {
            font-weight: bold;

        }
    </style>
</head>

<body onLoad="doOnLoad();">
    <div align="center" id="cuerpo">
        <form name="form1" id="form1" method="post" action="/<% // Response.Write(config.ruta)%>/op_bgrup.fwx">
            <div id="view_ui"></div>
        </form>
    </div>
    <script>
        var tip = 0<% // Response.write(lnTipo)%>;
        var w1;
        var mygrid;

        //alert(tip);

        function doOnLoad() {


            webix.ui.datafilter.rowCount = webix.extend({
                refresh: function (master, node, value) {
                    node.firstChild.innerHTML = "Total: " + master.count();
                }
            }, webix.ui.datafilter.summColumn)


            var ui = webix.ui({
                space: "wide",
                rows: [
                    {
                        view: "toolbar", padding: 3, borderless: true, elements: [
                            {
                                view: "button",
                                type: "icon",
                                icon: "mdi mdi-sync",
                                align: "left",
                                label: "",
                                width: 40,
                                on: {
                                    onItemClick: genera
                                }
                            },
                            
                            {
                                view: "button",
                                type: "icon",
                                icon: "mdi mdi-plus",
                                label: "Agregar grupo a oficio",  
                                //disabled: tip == 2 ? true : false ,
                                hidden: tip == 2 ? true : false,
                                width: 200,
                                on: {
                                    onItemClick: agregar
                                }
                            },
                            
                            {}, {},
                            {
                                view: "combo", id: "cmbOficio", value: 0<% //  Response.Write(cSoli.id_cent) %>,
                                width: 300,
                                options: {
                                    fitMaster: false,
                                    width: 300,
                                    body: {
                                        data: [
                                    <% // 
                                    /*
                                            SELECT cSoli
                                    GO TOP
                                    SCAN
                                    */
                                            %>
                                    //        { id: <% //  Response.Write(cSoli.id_cent) %>, value: "<% // Response.Write(ALLTRIM(cSoli.depen))%>" },
                                    <% //  ENDSCAN %>
                                    <%for (var i = 0; i < rows.length; i++) {%>
                                    { id: "<%= rows[i].id_cent%>", value: "(<%=rows[i].cve%>) <%=rows[i].depen%>" },
                                    <%}%>

                                ]
                                    }
                                },
                                on: {
                                    onChange: genera

                                }
                            },

                            {
                                view: "button",
                                type: "icon",
                                icon: "mdi mdi-plus",
                                label: "Crear grupo",
                                width: 130,
                                on: {
                                    onItemClick: function () { deta_grup() }
                                }
                            },
                        ]
                    }
                    ,
                    {
                        view: "datatable", id: "dtable", select: "row", editaction: "dblclick", rowCss: "#css#",
                        subrow: "#personas#", subRowHeight: "auto",
                        columns: [
                            { id: "marcar", header: ["", { content: "selectFilter" }], template: "{common.checkbox()}", width: 50, footer: { colspan: "2", content: "rowCount", css: "footer" } },
                            {
                                id: "nombre_grupo", header: ["Nombre Grupo", { content: "numberFilter" }], fillspace: true, sort: "int",
                                css: { 'text-align': 'left' }, template: "{common.subrow()} #nombre_grupo#"
                            },
                        ],
                        footer: true, scrollY: true, scrollX: true, resizeColumn: true, resizeRow: true, navigation: true,
                        editable: true, height: 400,
                        on: {
                            onBeforeLoad: function () { this.showOverlay("Cargando..."); },
                            onAfterLoad: function () { this.hideOverlay(); },
                            onItemDblClick: function (id) {
                                deta_grup(id)
                            },
                            "onAfterContextMenu":function(id,e,node) {
								              webix.delay(function(){
								                this.select(id);
								              }, this);
								              
								            },
                        },

                    }
                ]
            });

						webix.ui({
	            view:"contextmenu", id:"cmenu", master:$$("dtable"), width:220,
	            data:[
	              {value:"Eliminar grupo", id:"eliminaGrupo"},
	              
	            ],
	            on:{
	              "onItemClick":function(id){
	                var id_grup = $$("dtable").getSelectedId();
	                if(id === "eliminaGrupo"){
	                	console.log(id_grup)
	                  eliminaGrupo(id_grup.id)
	                }
	                
	              }
	            }
	          });

            genera();
        }

        function genera() {
            $$("dtable").clearAll();
            $$("dtable").load('/api/op/op_bgrupx?lnId_cent=' + $$("cmbOficio").getValue());

        }

        function deta_grup(id) {
            window.parent.$$("tbView").addView({
                header: "<span class='webix_icon mdi mdi-file-document-outline'></span>" + (id == undefined ? "Nuevo" : "Modifica") + " grupo",
                body: {
                    view: "iframe", src: "/op/op_ngrup?lnID=" + id,
                    type: {
                        height: 60
                    }
                },
                close: true
            });
            window.parent.$$("tbView").getTabbar().setValue(window.parent.$$("tbView").getTabbar().data.options[window.parent.$$("tbView").getTabbar().data.options.length - 1].id);
        }

        function eliminaGrupo(id) {

          Swal.fire({
					  title: "", text: 'Seguro de eliminar el grupo?', icon: 'warning', showCancelButton: true,
					  confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Si', cancelButtonText:"No",
					}).then((result) => {
						if(result.isConfirmed){
							webix.ajax().post("/<% // Response.write(config.ruta)%>/op_ngrupx.fwx?t=1", {id:id}).then((res)=>{
								res = res.json();
								Swal.fire('', res.message, res.status?"success":"error").then(()=>{
									if(res.status){
										genera()
									}
								})
							})
						}
					})
        }



        function agregar() {

            var checked = [];
            $$("dtable").data.each(function (obj) {
                if (obj.marcar == 1) checked.push(obj.id);
            });
            
            $$("dtable").remove(checked);
            window.parent.carg_grupo(checked.toString());
        }

    </script>
</body>


</html>