<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<%
/*
USE tablas\config
SET PROCEDURE TO myLib 

lnTipo = VAL(Request.QueryString("t"))

IF !Derechos("OFICIO")
	  lcRuta = ALLTRIM(config.ruta)
	  SET PROCEDURE TO
	  CLOSE TABLES ALL
	  CLOSE DATABASES ALL
	  response.redirect("/"+lcRuta+"/sin_derechos.fwx")
	ENDIF
*/
    %>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link rel="icon" href="/imagenes/ico_udg.gif" type="image/gif">

    <link rel="stylesheet" type="text/css" href="/skins/web/dhtmlx.css" />
    <link rel="stylesheet" type="text/css" href="/skins/terrace/dhtmlx.css" />
    <link rel="stylesheet" type="text/css" href="/webix/codebase/webix.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.3.5"
        type="text/css" charset="utf-8">

    <script src="/codebase/dhtmlx.js"></script>
    <script src="/webix/codebase/webix.js"></script>


    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }
    </style>
</head>

<body onload="doOnLoad()">
    <script>
         var tip = 0<% // Response.write(lnTipo)%>;
         console.log(tip);

        var cells = [
            {
                header: "<span class='webix_icon mdi mdi-file-document-outline'></span>Grupos", body: {
                    view: "iframe", id: "principal", src: "/op/op_bgrup?tip="+tip,
                    type: {
                        height: 60
                    },
                    select: true,
                }
            }
        ];

        function doOnLoad() {
            webix.ui({
                rows: [
                    {
                        id: "tbView",
                        view: "tabview",
                        tabbar: {
                            tabMinWidth: 180,
                            tabMoreWidth: 80,
                            padding: 2,
                            moreTemplate: "<span class='webix_icon mdi mdi-dots-vertical'></span>",
                            //or moreTemplate:function(){ return "Show more" },
                            popupWidth: 250,
                            yCount: 5,

                        },
                        cells: cells
                    }
                ]
            });
        }

        function carg_grupo(aGrupo) {
            window.parent.carg_grupo(aGrupo);
        }
    </script>
</body>

</html>