<%- include('../partials/header'); %>

<body>
    <script>
        var cells = [
            {
                header: "<span class='webix_icon mdi mdi-file-document-outline'></span>Plantillas", body: {
                    view: "iframe", id: "principal", src: "/op/op_bplan",
                    type: {
                        height: 60
                    },
                    select: true,
                }
            }
        ];

        webix.ready(function(){
            webix.ui({
                rows: [
                    {
                        id: "tbView",
                        view: "tabview",
                        tabbar: {
                            tabMinWidth: 180,
                            tabMoreWidth: 80,
                            padding: 2,
                            moreTemplate: "<span class='webix_icon mdi mdi-dots-vertical'></span>",
                            //or moreTemplate:function(){ return "Show more" },
                            popupWidth: 250,
                            yCount: 5,

                        },
                        cells: cells
                    }
                ]
            });
        });

        function carg_plantilla(plantilla) {
            window.parent.carg_plantilla(plantilla);
        }
    </script>
</body>

</html>